* {
  margin: 0px;
  padding: 0;
  font-family: "Playwrite MX", cursive;
  font-weight: 20;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  margin-left: 10%;
  margin-top: 10%;
  height: 80%;
  width: 80%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Responsive Web Design.  */

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
  .rwd {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .rwd {
    background: green;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .rwd {
    background: blue;
    /* display: none; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .rwd {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .rwd {
    background: rgb(218, 192, 255);
  }
}
